@using System.Globalization
<link href="~/css/news.css" rel="stylesheet" />

@model List<New>

<div class="container">
    @foreach (var newsItem in Model)
    {
        <div class="news-item">
            <p class="news-header">@newsItem.HeaderText</p>
            <p class="news-date">@newsItem.DateTime.ToString()</p>
            <p class="news-body">@newsItem.BodyText</p>
        </div>
    }
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var newsDateElements = document.querySelectorAll('.news-date');

        newsDateElements.forEach(function (element) {
            var date = new Date(element.innerText);
            var formattedDate = date.toISOString().split('T')[0];
            element.innerText = formattedDate;
        });
    });
</script>