@model List<Product>
@using Ganss.Xss
@{
    var sanitizer = new HtmlSanitizer();
    sanitizer.AllowedTags.Add("br");
    ViewBag.Title = "Каталог";

}
<link rel="stylesheet" href="~/css/production.css" />

<div class="container">
    <nav>
        @await Component.InvokeAsync("FlexMenu")
    </nav>
    <div class="content">
        @foreach (var product in Model)
        {
            if (ViewBag.Operation == "UniqueCategories")
            {
                <a asp-action="Production" asp-route-category=@product.Category asp-route-productType=@product.ProductType asp-route-isBasic=true class="block">
                    <div class="block-img">
                        <img src="https://zovprofil.by/Images/ClientsCatalogImages/Thumbs//@product.FileName" alt="">
                    </div>
                    <p>@product.Category</p>
                </a>
            }
            else if (ViewBag.Operation == "BasicProducts")
            {
                <a asp-action="ProductDetails" asp-route-imageId=@product.ImageId class="block">
                    <div class="block-img">
                        <img src="https://zovprofil.by/Images/ClientsCatalogImages/Thumbs//@product.FileName" alt="">
                    </div>
                    <p>@Html.Raw(sanitizer.Sanitize(product.Name))<br />@product.Color</p>
                </a>
            }
            else if (ViewBag.Operation == "GroupedProducts")
            {
                <a asp-action="Production" asp-route-category=@product.Category asp-route-productType=@product.ProductType asp-route-isBasic=false asp-route-name=@product.Name.Split(' ')[0] class="block">
                    <div class="block-img">
                        <img src="https://zovprofil.by/Images/ClientsCatalogImages/Thumbs//@product.FileName" alt="">
                    </div>
                    <p>@product.Name.Split(' ')[0]</p>
                </a>
            }
            
        }
    </div>
</div>


<script>
        document.addEventListener("DOMContentLoaded", function () {
            const blocks = document.querySelectorAll('.block');
        let maxHeight = 0;

        blocks.forEach(function (block) {
                const blockHeight = block.offsetHeight;
                if (blockHeight > maxHeight) {
            maxHeight = blockHeight;
                }
            });
        console.log(maxHeight);

        blocks.forEach(function (block) {
            block.style.height = maxHeight + 'px';
            });
        });
</script>
